.catalog-menu-mob

    .catalog-menu-mob__items
        a(class='catalog-menu-mob__item', href='#')
            .catalog-menu__item-img
                img(src='assets/icons/user-blue.svg', alt='Аптечные товары')
            .catalog-menu-mob__item-text
                .catalog-menu-mob__item-name Профиль
                .catalog-menu-mob__item-desc Анастасия
        a(class='catalog-menu-mob__item', href='#')
            .catalog-menu__item-img
                img(src='assets/icons/favorite2.svg', alt='Аптечные товары')
            .catalog-menu-mob__item-text
                .catalog-menu-mob__item-name Избранное
                .catalog-menu-mob__item-desc 15 товаров
        a(class='catalog-menu-mob__item', href='#')
            .catalog-menu__item-img
                img(src='assets/icons/pin.svg', alt='Аптечные товары')
            .catalog-menu-mob__item-text
                .catalog-menu-mob__item-name Вольно-Надеждинск
                .catalog-menu-mob__item-desc 15 аптек

    .catalog-menu-mob-footer
        
        .catalog-menu-mob-footer__item
            a(class='catalog-menu-mob__item-name', href='#') Акции
        .catalog-menu-mob-footer__item
            a(class='catalog-menu-mob__item-name', href='#') Доставка
        .catalog-menu-mob-footer__item
            a(class='catalog-menu-mob__item-name', href='#') Новости
        .catalog-menu-mob-footer__item
            a(class='catalog-menu-mob__item-name', href='#') О компании
        .catalog-menu-mob-footer__phone
            .catalog-menu-mob-footer__item-img
                img(src='assets/icons/phone.svg', alt='Телефон')
            .catalog-menu-mob__item-text
                .catalog-menu-mob__item-name.catalog-menu-mob__item-number 8 800 707 77 33
                .catalog-menu-mob__item-desc Позвонить бесплатно
        .catalog-menu-mob-footer__mobapp
            .catalog-menu-mob-footer__mobapp-shop
                a(href='#')
                    img(class='catalog-menu-mob-footer__mobapp-shop-img', src='assets/icons/app-apple.svg', alt='App Store')
            .catalog-menu-mob-footer__mobapp-shop
                a(ref='#')
                    img(class='catalog-menu-mob-footer__mobapp-shop-img', src='assets/icons/app-google.svg', alt='Google Play')