.catalog-menu-sub
    .catalog-menu-sub__item 
        a(href='#') БАДы и Витамины
    .catalog-menu-sub__item 
        a(href='#') Косметические средства с лечебным эффектом
    .catalog-menu-sub__item 
        a(href='#') Лекарственные препараты
    .catalog-menu-sub__item 
        a(href='#') Лечебное и диетическое питание
    .catalog-menu-sub__item 
        a(href='#') Медицинские изделия
    .catalog-menu-sub__item 
        a(href='#') Минеральные воды
    .catalog-menu-sub__item 
        a(href='#') Спортивное питание
    .catalog-menu-sub__item 
        a(href='#') Для здоровья