head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
  title Page name
  meta(name="description", content="")
  meta(name="keywords", content="")
  meta(name='theme-color', content='#ffffff')
  meta(content='#ffffff', name=msapplication-TileColor)
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap')
  link(rel='stylesheet', href='css/normalize.css')
  link(rel='stylesheet', href='css/main.css')
