//- .modal.modal-city
    .modal-city__close
        img(src='assets/icons/close.svg', alt='#')
    .modal-city__info Информация о доставке будет отображаться для региона:
    .modal-city__city Владивосток
    button.btn.btn_green.modal-city__btn(type='#') Да, выбрать
    a(class='modal-city__change', href='#') Нет, выбрать другой город